<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Weather App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles.css'>
</head>
<body>
    <div class="main">
        {{>header}}
        {{!-- <p>Made by : {{name}}</p> --}}
        <p>Use this website for getting weather details</p>
        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
        <p id="messageOne"></p>
        <p id="messageTwo"></p>
    </div>
    {{>footer}}
    <script src="/js/main.js"></script>
</body>
</html>